<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>list</title>
  </head>
  <body>
    <p>
        {{#each wombles}}
          {{name}}<br>
          {{characteristics}}<br>
        {{/each}}
    </p>
    Add new Womble <input type="name" value='name'>
  </body>
</html>
