<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>list</title>
  </head>
  <body>
    <p>
        {{#each wombles}}
          {{name}}<br>
        {{/each}}
    </p>
  </body>
</html>
